body{
    background-image: url("../images/backgroundimg.jpg") ;
}

.title-container{
    font-size: 34px;
    background: purple;
    color: orange;
    margin: 10px;
    width: 140px; 
}

.crystal-image {
    width: 200px;
    height: 200px;
  }

.score-container{
      background: purple;
      width: 140px;
      color: orange;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

#counter{
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 36px;
    background: blue;
    color: whitesmoke;
}